:root {
  /* Color palette */
  --Economist: #60900;
  --Beijing: #12;
  --Moscow: #7A;
  --London: #B6;
  --Berlin: #F2;
  --Thimphu: #FF;
  --Honolulu: #16C9B3;
  /* Gutters rem */
  /* Vertical rithm see calcution and factor */
  /* FontSizing and vertical rythm will be calculated */
  --xs: 8px;
  --s: 10px;
  --m: 14px;
  --l: 16px;
  --xl: 18px;
  --xxl: 20px;
}

body {
    font-family: 'Halifax Bold';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Styles from design, use just for refator it | What is below here should be removed */
.content {
	max-width: 590px;
	margin: 0 auto;
}

.flight {
	color: red;
	font-family: 'Halifax Regular';
	font-size: 1.5em;
	letter-spacing: 0.02em;
}

.title {
	font-family: 'Halifax Bold';
	font-weight: bold;
	font-size: 2.7em;
	line-height: 1.1em;
	color: #121212;
	margin-bottom: .5em;
	margin-top: -0.35em;
}

.dateline {
	font-family: 'Halifax Light';
	font-size: 0.9em;
	color: #7A7A7A;
	margin-bottom: 0.5em;
	letter-spacing: 0.02em;
}

.rubrik-milo {
  font-family:  'FF Milo Serif Pro Med Italic';
  font-size: 1.3em;
  line-height: 1.4em;
  color: #121212;
}

.article-milo {
  font-family: 'FF Milo Serif Pro';
  font-size: 1.2em;
  line-height: 1.5em;
  color: #121212;
}

.rubrik-meta {
  font-family: 'FF Meta Serif Pro Book Italic';
  font-size: 1.3em;
  line-height: 1.4em;
  color: #121212;
}
.article-meta {
	font-family: 'FF Meta Serif Pro Book';
	font-size: 1.2em;
	line-height: 1.5em;
	color: #121212;
}
